# Backup files
*~
recentf

# Package folders
.cache/
elpa/
eshell/
fonts/
transient/
straight/
url/

# Projectile stuff
projectile-bookmarks.eld
projectile.cache

# Magit
server/
.#*
*#

# LSP stuff
.lsp*

# Multicursor stuff
.mc-lists.el