# Backup files
*~
recentf
backups/

# Package folders
.cache/
elpa/
eshell/
fonts/
transient/
straight/
url/
history
bin/
projects

# Projectile stuff
projectile-bookmarks.eld
projectile.cache

# Helm
helm-adaptive-history

# Magit
server/
.#*
*#

# LSP stuff
.lsp*
.dap-breakpoints

# Multicursor stuff
.mc-lists.el

# Org stuff
OrgFiles/

# Ido stuff
ido.last

# Prescient stuff
var/

eln-cache/

network-security.data

request/

history
