# Backup files
*~
recentf
backups/

# Package folders
.cache/
elpa/
eshell/
fonts/
transient/
straight/
url/
history

# Projectile stuff
projectile-bookmarks.eld
projectile.cache

# Magit
server/
.#*
*#

# LSP stuff
.lsp*
.dap-breakpoints

# Multicursor stuff
.mc-lists.el

smex-items

# Org stuff
OrgFiles/

# Ido stuff
ido.last

# Prescient stuff
var/

eln-cache/

network-security.data

request/

history
